{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
       <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #787878	;">

    <div class="collapse navbar-collapse " id="navbarTogglerDemo01" >
        <!-- <ul class="nav navbar-nav ml-auto" role="navigation"> -->
            <!-- <a href="#myModal" data-toggle = "modal" data-target= "#myModal" class="navbar-brand">Login</a> -->
            <a href="#myModal" data-toggle = "modal" data-target= "#myModal" class="navbar-brand" onclick="window.open('accounts/login'); ">Login</a>

            <!-- </ul> -->
    </div>
</div>
</nav>
</nav>

<div class="container">
  <h3>WOOH</h3>
</div>


{% endblock %}

